extends layout

block content
        H3 Change Password
        div
            form(action = "/changePassword" method = "POST")
                div
                    input(name = "oldPassword" type = "password" required placeholder = "old Password")
                br
                div    
                    input(name = "newPassword" type = "password" required placeholder = "New Password")
                br
                div
                    input(name = "confirmPassword" type = "password" required placeholder = "Confirm New Password")
                br
                div
                    button(type = "Submit") Change Password

            if(message)
                h4 #{message}