doctype html
html
  head
    title Task Manager
    //link(rel="stylesheet", href="/public/styles.css")
    style 
      include ../public/styles.css
  body
    div
      header
        div  
          span.uppercase #{user}
      div.flex.justify-end
        a(href='/logout') Log Out 
    div
      nav
        a(href='/tasks') Task List 
        br
        a(href='/tasks/create') Create Task
        br
        a(href='/changePassword' class="flex justify-") Change Password


    main
      block content
    footer
      p Copyright © 2023 Task Manager App