extends layout

block content
  h1 Create Task
  form(action='/tasks/create', method='POST')
    label(for='title') Task Title:
    input(type='text', name='title', id='title', required)

    label(for='description') Task Description:
    input(type='text', name='description', id='description', required)

    label(for='dueDate') Due Date:
    input(type='date', name='dueDate', id='dueDate', required)

    label(for='status') Status:
    select(name='status', id='status', required)
      option(value='in progress') In Progress
      option(value='completed') Completed

    button(type='submit') Create Task